<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mhky.dianhuotong">

    <!-- Required -->
    <permission
        android:name="com.mhky.dianhuotong.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    //获取设备网络状态，禁用后无法获取网络状态
    <uses-permission android:name="android.permission.INTERNET" />
    //网络权限，当禁用后，无法进行检索等相关业务
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    //读取设备硬件信息，统计数据
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    //允许sd卡写权限，需写入地图数据，禁用后无法显示地图
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    //获取统计数据
    <uses-permission android:name="android.permission.GET_TASKS" />
    //鉴权所需该权限获取进程列表
    <uses-permission android:name="android.permission.CAMERA" />
    //使用步行AR导航，配置Camera权限
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="guEle2R0kMZVXMg3Zu5h4RkuW1ueKS8f" />

        <activity android:name=".activity.WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.view.BaseActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.PersonInfoActivity" />
        <activity
            android:name=".activity.PersonInfoUpdateActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".activity.MyselectedActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".activity.BillActivity" />
        <activity
            android:name=".activity.InvoiceActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".activity.CredentialsActivity" />
        <activity android:name=".activity.ShiYaoQianYanActivity" />
        <activity android:name=".activity.DianHuoTongShopActivity" />
        <activity android:name=".activity.YaoLinWangActivity" />
        <activity android:name=".activity.MingHuiFuActivity" />
        <activity android:name=".activity.JianKang121Activity" />
        <activity android:name=".activity.GuoYiGuanActivity" />
        <activity android:name=".activity.LaoPHomeActivity" />
        <activity android:name=".activity.DaKaOnlineActivity" />
        <activity android:name=".activity.ConnectOurActivity" />
        <activity android:name=".activity.MyWaiterActivity" />
        <activity android:name=".activity.AboutOurActivity" />
        <activity android:name=".activity.SystemSetActivity" />
        <activity android:name=".activity.MianZeShowActivity" />
        <activity android:name=".activity.AddShopActivity" />
        <activity
            android:name=".activity.AddShop1Activity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".activity.CreatShopActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".activity.CredentialUploadActivity" />
        <activity android:name=".activity.ChangePhoneActivity" />
        <activity android:name=".activity.AlterPasswordActivity" />
        <activity android:name=".activity.AddShop3Activity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.BanKuaiCreatingActivity" />
        <activity android:name=".activity.ScanCodeActivity" />
        <activity android:name=".shop.activity.AllGoodsActivity" />
        <activity android:name=".shop.activity.GoodsActivity" />
        <activity android:name=".baidumap.activity.BaiDuMapActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".activity.Adress1Activity" />
        <activity android:name=".activity.Adress2Activity" />
        <activity android:name=".activity.Adress3Activity" />
        <activity android:name=".shop.activity.SearchGoodsActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".shop.activity.GoodsInfoActivity" />
        <activity android:name=".shop.activity.ShopActivity" />
        <activity android:name=".shop.activity.CardActivity" />
        <activity android:name=".shop.activity.BalanceActivity" />
        <activity android:name=".shop.activity.VipShopActivity" />
        <activity
            android:name=".shop.activity.CartActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.InitActivity" />
        <activity android:name=".shop.activity.CouponActivity" />
        <!-- 蒲公英 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="f57f476d284f75a39ad8816165320863 " />

        <activity android:name=".shop.activity.OrderInfoActivity" />
        <activity android:name=".activity.FeedBackBaseActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".shop.activity.OderOkActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.MyWalletActivity" />
        <activity android:name=".shop.activity.SearchActivity" />
        <activity android:name=".shop.activity.SearchCompanyActivity" />
        <activity android:name=".activity.SelelctAdressActivity" />
        <activity android:name=".activity.SelelctAdress1Activity" />
        <activity android:name=".activity.SelelctAdress2Activity"></activity>
    </application>

</manifest>